[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"

[packages]
django = "*"
django-environ = "*"
sentry-sdk = "*"
django-anymail = "*"
gunicorn = "*"
psycopg2 = "*"
coverage = "*"
django-extensions = "*"

[requires]
python_version = "{{ cookiecutter.python_version }}"